.divContainer{
    width: 100%;
}

.carouselPosition{
    display: flex;
    margin: 0 auto;
    width: 90%;
}
/* 
.carouselBar{
    top:400px;
} */

.carouselBarButton{
    background-color: #42C82C!important;
}

.carouselContent{
    border-radius: 10px;
}

@media(max-width:767px){

}

.imgCarousel{
  width:100%;
}