.carouselMargin{
    margin: 16px 16px 16px;
}

.carouselContent{
    margin: 0 auto;
    max-height: 450px;
    max-width: 800px;
}

.carouselBorder{
    border-radius: 10px;
}

.carouselIndicators{
    background-color: #42C82C!important;
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%;
    border: 2px solid #fff!important;
}

.carouselArrowPrev{
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2342C82C%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e")!important;
    border: 2px solid #fff;
    border-radius: 100%;
}

.carouselArrowNext{
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2342C82C%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")!important;
    border: 2px solid #fff;
    border-radius: 100%;
}